/* Reset */
* {
    font-family: Arial, sans-serif;
}

/* Common */
.btn-primary {
    border-radius: 20px;
}
/* Typo */

/* Header Top */
.header-top {
    background-color: black;
    text-align: end;
}

/* Header Bottom left */
.logo-img {
    height: 15px;
    padding-right: 1%;
}
  
header ul {
    list-style: none;
    display: inline-block;
}

.btn,
.dropdown-menu,
.btn:hover,
.btn:visited {
    background-color: transparent ;
    color: black;
    border: none;
}

.list-nav-items {
    list-style: none;
}

.list-nav-items li {
    display: inline;
}

header .navbar {
    background-color: transparent!important;
}

header {
    font-size: 1rem;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* Header Bottom right */
.header-bottom-right .btn-primary {
    background-color: #363636;
    margin: 0 20px;
}

.header-bottom-right img {
    height: 24px;
}

.fa-bars {
    color: #737373;
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid lightgray;
    padding: 5px 14px;
    border-radius: 6px;
}
