/* Reset */
* {
    font-family: Arial, sans-serif;
}

/* Common */
.btn-primary {
    border-radius: 20px;
    color: white!important;
    font-weight: 500;
    max-width: max-content;
}
/* Typo */
h2 {
    font-size: 2.6rem;
    color: black;
    line-height: 60px;
}

/* Header */
header {
    font-size: 1rem;
    font-weight: 600;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Header Top */
.header-top {
    background-color: black;
    text-align: end;
}

/* Header Bottom */
.header-bottom {
    background-color: white;
}

header .dropdown-item {
    color: black!important;
    font-weight: 600;
    background-color: white;
}

header .dropdown-toggle::after {
    content: url(../img/chevron-down-solid.svg);
    color: black;
    width: 10px;
    border: none;
    vertical-align: middle;
}

/* Header Bottom left */

.logo-img {
    height: 15px;
    padding-right: 1%;
}
  
header ul {
    list-style: none;
    display: inline-block;
}

.btn,
.dropdown-menu,
.btn:hover,
.btn:visited {
    background-color: transparent ;
    color: black;
    border: none;
}

.list-nav-items {
    list-style: none;
}

.list-nav-items li {
    display: inline;
}

header .navbar {
    background-color: transparent!important;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* Header Bottom right */
.header-bottom-right .btn-primary {
    background-color: #363636;
    margin: 0 20px;
}

.header-bottom-right img {
    height: 24px;
}

.fa-bars {
    color: #737373;
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid lightgray;
    padding: 5px 14px;
    border-radius: 6px;
}

/* Section Hero */
.hero-top {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-container {
    padding-top: 350px;
}

.logo-hero {
    width: 56%;
}

.hero p {
    font-weight: 600;
}

.hero .btn-primary {
    background-color: #cd3d0f;
    margin-bottom: 30px;
    margin-top: 10px;
}

.hero .container-fluid {
    padding-top: 200px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.hero h2 {
    margin: 40px 0;
}

.hero-list img {
    width: 100%;
    border-radius: 10px;
}

.hero-list .row div {
    padding: 20px 20px;
}

/* Section Playstation 5 */
.playstation-5 {
    margin: 100px 0;
}
.playstation-5 h6 {
    color: #0876cf;
    font-weight: 700;
    line-height: 0.2rem;
}

.playstation-5 p {
    color: #727272;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.playstation-5 .btn-primary {
    background-color: #2d64e6;
}

.playstation-5 .col-4:hover {
    border-bottom: 2px solid #1a82d6;
}

.playstation-5 .btn-primary {
    background-color: #2d64e6;
}

/* Section New releases */

.new-releases-top {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

.new-releases {
    background-color: #1f1f1f;
}
.logo-new-releases {
    width: 56%;
}

.new-releases p {
    font-weight: 600;
}

.new-releases .btn-primary {
    background-color: #cd3d0f;
    margin-bottom: 30px;
    margin-top: 10px;
}

.new-releases .container-fluid {
    padding-top: 200px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.new-releases h2 {
    margin: 40px 0;
}

.new-releases-list img {
    width: 100%;
    border-radius: 10px;
}

.new-releases-list .row div {
    padding: 20px 20px;
}
/* Section PlayStation 4 */
.playstation-4 {
    margin-top: 70px;
}

.playstation-4 p {
    color: #727272;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
} 

.playstation-4 img {
    width: 100%;
}

.playstation-4 .btn-primary {
    background-color: #2d64e6;
}

/* PlayStation Plus */
.playstation-plus {
    margin: 80px 0;
    background-color: #bebcbb;
    padding: 20px 0;
}

#img-plus-titles {
    width: 100%;
    display: none;
}

#plus-logo {
    width: 60%;
    margin-bottom: 30px;
    
}

#paragraph-plus {
    font-size: 14px;
    font-weight: 600;
}

.playstation-plus .btn-primary {
    background-color: #d9dadc;
    color: #1057fd!important;
}

/* Media PlayStation Plus section */

/* for devices from 576px to 767px */
@media screen and (min-width: 576px) {
    .playstation-plus {
        padding: 0;
    }

    #paragraph-plus {
        font-size: 16px;
        font-weight: 400;
    }
    
    .col-plus-left{
        padding-top: 10px;
    }

    #plus-logo {
        margin: 0;
    }

}

 /* for devices from 768px to 991px */
@media screen and (min-width: 768px) {
    .playstation-plus {
        padding: 0;
    }

    #paragraph-plus {
        font-size: 16px;
        font-weight: 400;
    }
    
    .col-plus-left{
        padding-top: 10px;
    }

    #img-plus-titles {
        display: block;
        width: 100%;
    }

}

 /* for devices from 992px to all widths */
 @media screen and (min-width: 992px) {
    .playstation-plus {
        padding: 0;
    }

    #paragraph-plus {
        font-size: 16px;
        font-weight: 400;
    }

    .playstation-plus .py-4 {
        padding-top: 8%!important;
    }
}

/* PlayStation store section */
.playstation-store img {
    width: 100%;
}

#img-center-store {
    padding: 30px 0;
}

/* Media PlayStation Store section */

/* for devices from 576px to 767px */


/* for devices from 768px to 991px */
@media screen and (min-width: 768px) {
    #img-center-store {
        padding: 0;
    }
}

/* for devices from 992px to all widths */


/* Media PlayStation Store section */
